.settings {
  display: flex;
  margin: auto;
  height:auto;
  width: 500px;
  height: 400px;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
}

.settingsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1em;
    border: 5px solid lightseagreen;
    border-style: double;
    margin-bottom: 1em;
    font-weight: 800;
 
 
}

.settingsUpdateTitle {
     font-size: 2em;
    color: black;
    font-family: monospace;
}

.settingsDeleteTitle {
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settingsForm {
    display: flex;
    flex-direction: column;
     border: 5px solid lightseagreen;
    border-style: outset;
    padding: 1em;
    background-color: white;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin: 15px 0;
  padding-left: 9em;
}

.settingsPP > img {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPPIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightseagreen;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.settingsForm > label {
  font-size: 1.5em;
  FONT-WEIGHT: 500;
  font-family: monospace;
}

.settingsForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settingsSubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 4em;
    cursor: pointer;
}