body {
  background-color: white;
}

.write {
    padding-top: 50px;
  }
  
  .writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .writeForm {
    position: relative;
  }
  
  .writeFormGroup {
    margin-left: 13em;
    display: flex;
    align-items: center;
  }
  
  .writeIcon {
    width: 40px;
    height: 40px;
    font-size: 30px;
    border: 5px lightseagreen;
    border-style: inset;
    border-radius: 50%;
    color: rgb(72 70 142);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .writeInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 67vw;

    border: 9px lightseagreen;
    border-style: inset;
    margin-top: 1em;
  }
  
  .writeInput::placeholder {
    color: rgb(189, 185, 185);
    font-weight: 400;
  }
  
  .writeInput:focus {
    outline-style: none;
  }
  
  .writeText {
    width: 73vw;
    height: 50vh;
    font-family: inherit;
    font-size: 20px;

    border: 9px lightseagreen;
    border-style: inset;
    margin-top: 1em;
  }
  
  .writeSubmit {
    width: 8em;
    height: 4em;
    position: absolute;
    top: 2em;
    right: 7em;
    color: white;
    background-color: teal;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iconPlus{
    margin-top: 2em;
    padding-right: 1em;
  }